@media screen and (max-device-width: 480px) {
    .classForiPhoneDisplay {
      font-size: 1.2em;
    }
  }
  
  @media screen and (min-device-width: 768px) {
    .minimumiPadWidth {
      clear: both;
      margin-bottom: 2px solid #ccc;
    }
  }

.content {
    background-color:rgba(0, 0, 55, 1);
    width: 1600px;
    height: 800px;
    font-family: robo-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.logo {
    width: 30%;
}

.menu {
    width: auto;
    display: flex;
    align-items: center;
    position: absolute;
    padding-left: 10%;

    ul {
        list-style: none;  
    }

    li {
        float: left;
        margin-right: 35px;
        font-size: 20px;
        line-height: 90px;
        letter-spacing: 0.04em;
    }

    li a {
        text-decoration: none;
        padding: 12px;
        border-radius: 10px; 
        border: 1px solid;
        color:white;
    }
}

.statue {
    display: flex;
    flex-direction: row-reverse;
}

.title {
    top: 220px;
    left: 160px;
    position: absolute;
    font-size: 80px;
    line-height: 93.75px;
    letter-spacing: 0.05em;
    color: white;
}

.subtitle {
    color: white;
    top: 460px;
    left: 160px;
    position: absolute;
    font-size: 48px;
    line-height: 56.25px;
    font-weight: lighter;
}